.files-container {
	display: flex;
	flex-direction: column;
}

.file {
	flex: 1;
	margin-bottom: 30px;
}

.file-preview {
	border-radius: 4px;
}

.filename {
	margin-top: 7px !important;
}

.file-description {
	margin-top: -15px !important;
}

.file-download {
	width: 100% !important;
	background-color: var(--theme-color, #42b983);
	color: white !important;
	text-decoration: none !important;
	text-align: center;
	padding: 5px 10px;
	border-radius: 4px;
}

@media only screen and (min-width: 1000px) {
	.files-container {
		flex-direction: row;
	}

	.file {
		margin-left: 10px;
	}

	.file:nth-child(1) {
		margin-left: 0 !important;
	}
}

/* tags */
.new-tag-1 {
	background: rgb(11, 200, 70);
	color: white !important;
	padding: 3px 7px;
	font-size: 14px;
}

.alert {
	padding: 20px 22px;
	border-radius: 4px;
	font-weight: 500;
}

.alert.-info {
	border: 1px solid rgba(10, 230, 150, 0.8);
	color: rgb(5, 160, 70);
	background: rgba(10, 230, 150, 0.05);
}

.alert.-error {
	border: 1px solid rgba(230, 36, 10, 0.8);
	color: rgb(160, 15, 5);
	background: rgba(230, 25, 10, 0.05);
}

.alert.-warning {
	border: 1px solid rgba(230, 160, 10, 0.8);
	color: rgb(160, 93, 5);
	background: rgba(230, 127, 10, 0.05);
}

.download-alert {
	border: 1px solid rgba(10, 230, 150, 0.8);
	border-radius: 4px;
	background: rgba(10, 230, 150, 0.05);
	padding: 20px 30px;
	padding-bottom: 32px;
}

.download-alert h3 {
	font-weight: bolder;
	font-size: 25px;
	margin-top: 0 !important;
	margin-bottom: -18px !important;
}

.download-alert p {
	color: rgb(5, 160, 70);
	font-size: 18px;
}

.download-alert a {
	background: #202020;
	color: white;
	text-decoration: none;
	padding: 8px 15px;
	border-radius: 3px;
}
