.files-container {
	display: flex;
	flex-direction: column;
}

.file {
	flex: 1;
	margin-bottom: 30px;
}

.file-preview {
	border-radius: 5px;
}

.filename {
	margin-top: 7px !important;
}

.file-description {
	margin-top: -15px !important;
}

.file-download {
	width: 100% !important;
	background-color: var(--theme-color, #42b983);
	color: white !important;
	text-decoration: none !important;
	text-align: center;
	padding: 5px 10px;
	border-radius: 3px;
}

@media only screen and (min-width: 1000px) {
	.files-container {
		flex-direction: row;
	}

	.file {
		margin-left: 10px;
	}

	.file:nth-child(1) {
		margin-left: 0 !important;
	}
}
