/* .version-cards {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.version-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #cecece;
    border-radius: 4px;
    max-width: 33%;
    width: 100%;
    padding: 40px 0px;
    cursor: pointer;
    text-decoration: none;
    position: relative;
    margin-bottom: 10px;
}

.version-card .tag {
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px;
    background-color: var(--theme-color, #42b983);
    color: white;
    font-weight: bold;
}

.tag {
    font-size: 16px;
}

.tag.-beta {
    background-color: #d6a812;
}

.version-cards small, h2 {
    margin: 0 !important;
}

@media only screen and (max-width: 1000px) {    
    .version-card {
        max-width: 49.5% !important;
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 500px) {
    .version-card {
        max-width: 100% !important;
    }
    
    .version-cards {
        flex-direction: column;
    }
} */
